<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Add Preparation Display menu under POS Configuration -->
    <menuitem id="menu_pos_preparation_display"
              name="Preparation Displays"
              parent="point_of_sale.menu_point_config_product"
              action="pos_preparation_display_action"
              sequence="30"/>

    <!-- Add Preparation Orders menu under POS -->
    <menuitem id="menu_pos_preparation_orders"
              name="Kitchen Display"
              parent="point_of_sale.menu_point_root"
              action="pos_preparation_order_action"
              sequence="5"/>
</odoo>
